* {
  margin: 0;
}
.App {
  width: 100%;
}
.login {
  position: absolute;
  right: 30px;
  margin-top: 20px;
  padding: 8px;
  font-size: large;
  border-radius: 100%;
  border-width: 4px;
  border-color: rgb(245, 182, 110, 0.5);
  
}
